# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/vcs.xml
/BIA-SOEN341_Project_F25.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
